.new_member_form_wrapper{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    width: 580px;
    height: 800px;
    border: solid $main_grey 1px;
    background-color: white;
    margin-left: 200px;
    
}

.new_member_form_entry_container{
    display: grid;
    width: 580px;
    justify-items: center;
    margin-top: 25px;
}